<%= form_with url: authors_path, local: true do |form| %>
  <p>
    <%= form.label :'author[first_name]', 'First Name' %><br>
    <%= form.text_field :'author[first_name]' %>
  </p>

  <p>
    <%= form.label :'author[last_name]', 'Last Name' %><br>
    <%= form.text_field :'author[last_name]' %>
  </p>

  <p>
    <%= form.label :'author[homepage]', 'Homepage' %><br>
    <%= form.text_area :'author[homepage]' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>